@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.inlogText{
    font: var(--cfont);
    font-size: 5rem;
    background-color: var(--pcolor);
    border-radius: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 100%;
    padding: 2rem;
}
