*, *::before, *::after{
    margin: 0;
    padding: 0;
  }
  
  :root{

  }
  
  html{
    font-size: 62.5%;
  }

  .inlogText{
    font: var(--cfont);
    font-size: 5rem;
    background-color: var(--pcolor);
    border-radius: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 100%;
    padding: 2rem;
}